@model IEnumerable<AgileWorksServiceDesk.Models.RequestDTO>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@item.LateIndicator()">
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy HH:mm}", item.DueDateTime))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Update request</a>
                </td>
            </tr>
        }
    </tbody>
</table>
